trigger:

- azure-devops


variables:

imageName: photostudio

acrLoginServer: projectps.azurecr.io

tag: $(Build.BuildId)


pool:

vmImage: ubuntu-latest


steps:

- checkout: self

persistCredentials: true


- task: Docker@2

displayName: Build and Push Image

inputs:

command: buildAndPush

repository: $(imageName)

dockerfile: Dockerfile

containerRegistry: photostudio-app-SRsc

tags: |

$(tag)


- script: |

echo "Updating Helm values.yaml"


sed -i "s/tag:.*/tag: \"$(tag)\"/" charts/photostudio-app/values.yaml


git config user.email "azure-devops@pipeline.com"

git config user.name "azure-devops"


git fetch origin

git checkout -B azure-devops origin/azure-devops


git add charts/photostudio-app/values.yaml

git commit -m "Update image tag to $(tag)"


git push https://$GITHUB_PAT@github.com/Amritha1989/PhotoStudio-Project.git azure-devops

displayName: Update Helm values

env:

GITHUB_PAT: $(GITHUB_PAT)

- task: PublishPipelineArtifact@1
  displayName: 'Publish Kubernetes Manifests'
  inputs:
    targetPath: 'manifests'
    artifact: 'k8s-manifests'
    publishLocation: 'pipeline'
